@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #fae1dd;
}
