.word {
    font: 700 normal 2.5em 'tahoma';
}

.hi {
    color: white;
    font-family: system-ui, sans-serif;
    background-color: hsla(127, 8%, 22%, 1);
    position: relative;
    font-size: 5rem;
}
